{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block content %}
    <h4>Create new Article</h4>

    {{ include('article/_form.html.twig') }}

    <a style="float: right" class="btn btn-primary btn" href="{{ path('article_index') }}">back to list</a>
{% endblock %}
